@model List<TimeViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="full-width">
        <div class="option-title">
            <div class="options">
                <div class="pointer" onclick="voltar()">
                    <div class="btn-voltar noselect">
                        <i class="fas fa-arrow-left noselect"></i>
                        <p class="noselect">Voltar</p>
                    </div>
                </div>
                <div class="noselect">
                    <p class="noselect">Times</p>
                </div>
            </div>
        </div>
        <div style="display: flex">
            <div class="cards-index">
                <div class="card-index mg-right-10px" style="width: 270px;">
                    <h3>Filtros</h3>
                    <br />
                    <label for="NomeTime" class="control-label">Nome</label>
                    <input type="text" name="NomeTime" id="NomeTime" value="" class="form-control" />
                    <br />
                    <label for="SiglaTime" class="control-label">Sigla</label>
                    <input type="text" name="SiglaTime" id="SiglaTime" value="" class="form-control" />
                    <br />
                    <label for="UsuarioId" class="control-label">Criador Por</label>
                    <select name="UsuarioId" id="UsuarioId" asp-items="ViewBag.Usuarios" class="form-control"> </select>
                    <br />
                    <label for="OrderBy" class="control-label">Ordenado Por</label>
                    <select name="OrderBy" id="OrderBy" asp-items="ViewBag.OrderBy" class="form-control"> </select>
                    <br />
                    <div class="btn btn-primary" onclick="filtraTime()">Salvar</div>
                </div>
            </div>
            <div id="conteudoGrid">
                @Html.Partial("pvGrid", Model)
             </div>
            </div>
        </div>
</main>

<script>
    function voltar() {
        location.href = '/times/home'
    }

    function jogadores(id) {
        location.href = '/TimeJogador/Create?TimeId=' + id
    }
    function visualizar (id) {
        location.href = '/times/VisualizarTime?id=' + id
    }

    function apagar(id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Voce tem certeza?',
            text: "Você não poderá reverter esta ação!",
            imageUrl: 'https://i.pinimg.com/originals/4f/bd/dc/4fbddc0cbb1ed10409d12fe315ed27ca.jpg',
            imageWidth: 236,
            imageHeight: 354,
            showCancelButton: true,
            confirmButtonText: 'Sim, apagar',
            cancelButtonText: 'Não, cancelar!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                location.href = '/times/delete?id=' + id
            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Ufa, essa foi por pouco',
                    'error'
                )
            }
        })
    }
</script>

