:root {
    --primary: #fe5767;
}

label {
     color: var(--primary);
     font-family: 'dinpro'
}

body {
    padding: 0;
}

p {
    margin: 0;
}

tr {
    color: var(--primary);
}

a p {
    text-decoration: none;
}

p{
    text-decoration: none!important;
}

@font-face {
    font-family: dinpro;
    src: url(../font/DINPro.otf);
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    font-family: 'dinpro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

#page-home .content {
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

    #page-home .content header {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

        #page-home .content header .menu {
            width: 100%;
            margin-top: 20px;
            max-width: 500px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.95);
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

            #page-home .content header .menu p {
                margin-right: 15px;
            }

                #page-home .content header .menu p:hover {
                    cursor: pointer;
                }

#page-home {
    background-image: url('../images/background.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    #page-home .content main {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-evenly;
        align-items: center;
    }

        #page-home .content main .option-title {
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
        }

        #page-home .content main .options {
            width: 100%;
            margin: 0px;
            max-width: 510px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.95);
            display: flex;
            align-items: center;
        }

            #page-home .content main .options p {
                margin-left: 15px
            }

        #page-home .content main .cards {
            display: flex;
            margin-bottom: 10px;
        }

            #page-home .content main .cards .card {
                background-color: rgba(255, 255, 255, 0.95);
                height: 300px;
                width: 250px;
                margin-right: 10px;
                transition: 400ms;
            }

                #page-home .content main .cards .card:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }

        #page-home .content main .titles {
            display: flex;
        }

            #page-home .content main .titles .title {
                background-color: rgba(255, 255, 255, 0.95);
                height: 200px;
                width: 510px;
                margin-right: 10px;
                display: flex;
                transition: 400ms;
            }

                #page-home .content main .titles .title:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }

        #page-home .content main .font-title {
            font-size: 30px;
            margin: 15px 0 0 15px;
        }

        #page-home .content main .img-card {
            width: 242px;
            height: 242px;
        }

            #page-home .content main .img-card#neto::after {
                content: "";
                background-image: url('../images/banner1.svg');
                width: 250px;
                height: 249px;
            }

        #page-home .content main .img-div {
            flex: 1;
            display: flex;
            flex-direction: row-reverse;
        }

        #page-home .content main .img-title {
            width: 250px;
            height: 200px;
        }

        #page-home .content main #sobre {
            width: 410px;
            height: 200px;
        }

footer img {
    width:200px;
    height: 53.25px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: row-reverse;
}

audio {
    opacity: 1;
}

.card-about {
    width: 100%;
    height: 510px;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
}

.font-subtitle {
    font-size: 20px;
    margin: 15px 0 0 15px;
}

#page-home .content main #sobre-img {
    width: 410px;
    height: 200px;
    margin-top: auto
}

#sobre-img-people {
    width: 235px;
    height: 328.41px;
    margin-top: auto;
}

.full-width {
    width: 100%;
}

.btn-voltar {
    display: flex;
    align-items: center;
    pointer-events: none;
    color: var(--primary);
    padding-left: 10px;
    height: 100%;
}

    .btn-voltar:hover {
        background-color: rgba(0,0,0,1);
        color: aqua;
    }

    .btn-voltar p {
        margin-left: 10px;
    }
    .btn-voltar i {
        margin-left: 10px;
    }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.cards-home .card-home {
    display: flex;
    flex-direction: column;
    width: 510px;
    height: 510px;
    background-color: rgba(255, 255, 255, 0.95);
}

.cards-home {
    display: flex;
}

.mg-right-10px {
    margin-right:10px;
}

.img-home-div img {
    width: 350px;
    height: 350px;
    margin-top: auto;
}

.img-home-div {
    flex: 1;
    flex-direction: row-reverse;
    display: flex;
}

.cards-form .card-form {
    display: flex;
    flex-direction: column;
    width: 510px;
    height: 510px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0 10px;
}

.btn.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.form-control {
    border-color: var(--primary);
}

    .form-control:focus {
        border-color: var(--primary);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px var(--primary);
    }

.card-home {
    transition: 400ms;
}

.card-home:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}