
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="full-width">
        <div class="option-title">
            <div class="options">
                <div>
                    <i class="fas fa-arrow-left"></i>
                    <p>voltar</p>
                </div>
                <p>Bem vindo ao Bomba Patch!</p>
            </div>
        </div>
    </div>
</main>