@model List<TecnicosViewModel>
@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="full-width">
        <div class="option-title">
            <div class="options">
                <div class="pointer" onclick="voltar()">
                    <div class="btn-voltar" onclick="voltar()">
                        <i class="fas fa-arrow-left noselect"></i>
                        <p class="noselect">Voltar</p>
                    </div>
                </div>
                <div class="noselect">
                    <p class="noselect">Técnicos</p>
                </div>
            </div>
            </div>
        <div class="cards-form">
            <div class="card-form mg-right-10px" style="overflow-y:auto;">
                <table class="table table-responsive margintop10">
                    <tr>
                        <th style="width: 40px">Ações</th>
                        <th>ID</th>
                        <th>Nome</th>
                    </tr>
                    @foreach (TecnicosViewModel tecnico in Model)
                    {
                        <tr>
                            <td>
                                <a style="color: dodgerblue; font-size: 15px" href="/tecnicos/Edit?id=@tecnico.Id"><i class="fas fa-edit"></i></a>
                                <a style="color: red; font-size: 15px" href="javascript:apagar(@tecnico.Id)"><i class="fas fa-trash"></i></a>
                            </td>
                            <td>@tecnico.Id</td>
                            <td>@tecnico.Nome</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</main>
<script>
    function voltar() {
        location.href = '/tecnicos/home'
    }

    function apagar(id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Voce tem certeza?',
            text: "Você não poderá reverter esta ação!",
            imageUrl: 'https://i.pinimg.com/originals/4f/bd/dc/4fbddc0cbb1ed10409d12fe315ed27ca.jpg',
            imageWidth: 236,
            imageHeight: 354,
            showCancelButton: true,
            confirmButtonText: 'Sim, apagar',
            cancelButtonText: 'Não, cancelar!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                location.href = '/tecnicos/delete?id=' + id
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Ufa, essa foi por pouco',
                    'error'
                )
            }
        })
    }
</script>