
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div>
        <div class="option-title">
            <div class="options">
                <p>Bem vindo ao Bomba Patch!</p>
            </div>
        </div>
        <div class="cards">
            <div class="card" onclick="tecnicosHome()">
                <div>
                    <p class="font-title">Técnicos</p>
                </div>
                <div>
                    <img draggable="false" src="~/images/neto.png" alt="" class="img-card">
                </div>
            </div>
            <div class="card" onclick="jogadoresHome()">
                <div>
                    <p class="font-title">Jogadores</p>
                </div>
                <div>
                    <img draggable="false" src="~/images/ronaldo.png" alt="" class="img-card">
                </div>
            </div>
            <div class="card">
                <div>
                    <p class="font-title">Times</p>
                </div>
                <div>
                    <img draggable="false" src="~/images/times.png" alt="" class="img-card">
                </div>
            </div>
            <div class="card">
                <div>
                    <p class="font-title">Estádios</p>
                </div>
                <div>
                    <img draggable="false" src="~/images/estadio.png" alt="" class="img-card">
                </div>
            </div>
        </div>
        <div class="titles">
            <div class="title">
                <div>
                    <p class="font-title">Configurações</p>
                </div>
                <div class="img-div">
                    <img draggable="false" src="~/images/VAR.png" alt="" class="img-title">
                </div>
            </div>
            <div class="title" onclick="about()">
                <div>
                    <p class="font-title">Sobre</p>
                </div>
                <div class="img-div">
                    <img draggable="false" src="~/images/sobre.png" alt="" id="sobre">
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    var audio = new Audio();
    //audio.src = '/audio/som.mp3'
    audio.loop = true
    audio.autoplay = true
    audio.volume = 0.05

    function about() {
        location.href = '/home/about'
    }

    function tecnicosHome() {
        location.href = '/tecnicos/home'
    }

    function jogadoresHome() {
        location.href = '/jogadores/home'
    }
</script>